.container-fluid{padding-left: 0px;padding-right: 0px;}
body {
    background-color: #;

}

.section {
	background-color: 
}
.gradient-custom {
  /* fallback for old browsers */
  background: #5ee7df;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to top, rgba(94, 231, 223, 0.5), rgba(180, 144, 202, 0.5));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to top, rgba(94, 231, 223, 0.5), rgba(180, 144, 202, 0.5))
}